// COLORS
//opcion 1
//--------------------------------
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
//--------------------------------
//opcion 2
//--------------------------------
// $primary-color: #003366;
// $secondary-color: #6A0572;
//--------------------------------
//opcion 3
//--------------------------------
// $primary-color: #2E8B57;
// $secondary-color: #FFD700;
//--------------------------------
//opcion 4
//--------------------------------
//  $primary-color: #FF6347;
//  $secondary-color: #FFD700;
//--------------------------------
//opcion 5
//--------------------------------
$primary-color: #2F3E46 ;
$secondary-color: #FF6F61;
//--------------------------------

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
